:root{
  --title-color:#54A98B;
  --text-color:#D0E9F7;
  --btn-color:#05679D;
  --footer-color:#C2A309;
  --background-clr1:#683E54;
  --background-clr2:#700651;
}
.linkBtn{
  text-decoration: none;
}




.nav-links{
  color:red;
}
ul{
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.linkBtn{
  color: var(--text-color);
  transition: .5s;
  font-size: 22px;
}
.linkBtn:hover{
  text-decoration: none;
  color: black;
}
@media screen and (max-width:700px){
  
  *{
    text-decoration: none;
  }
  ul{
    display: grid;
    height: 100px;
  }
  ul>li{
    margin-bottom: 10px;
  }
  .nav-links{
    text-decoration: none;
    text-align: center;
  }
}
